* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

form {
    display: flex;
    justify-content: center;
}

input {
    width: 200px;
    height: 30px;
    padding: 0 20px;
    font-size: 18px;
}

button {
    width: auto;
    height: auto;
    padding: 0 20px;
    font-size: 18px;
    margin-left: 3px;
}

button:hover {
    cursor: pointer;
    background-color: green;
    color: #fff;
}

ul {
    list-style: none;
    padding: 20px;
    font-size: 20px;
}

ul li:hover {
    cursor: pointer;
}

ul li.has-maker {
    list-style-type: disc;
}

.strike-through {
    text-decoration: line-through;
}

